@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix for webkit text size adjust */
* {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* Ensure proper video display */
video {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
